#main-table-div{
    position: relative;
    width : 1500;
    height : 900px;
    
}
#second-div{
    display: flex;
}
#table{
    position: absolute;
    width: 1300px;
    height: 700px;
    margin-left: 100px;
    margin-top: 10px;
    background: transparent url('../images/background4.jpg');
    background-repeat: no-repeat;
    background-size: 1300px  750px;
    display: table;
    border-color: black;
    border-collapse: collapse;
    opacity: 1;

}
#product-type{
    position: absolute;
    left: 100px;
}
#quantity{
    position: absolute;
    left: 500px;
}
#quantity-input{
    position: absolute;
    left: 450px;
   
}
#washtype{
    position: absolute;
    left: 800px;
}
#washing-img{
    position:absolute;
    left:750px;
}
#iron-img{
    position: absolute;
    left:800px;
}
#towel-img{
    position: absolute;
    left: 850px;
}
#bleach-img{
    position: absolute;
    left:900px;
}
#price{
    position: absolute;
    left: 1100px;
}
.pricechange{
    position: absolute;
    left : 1080px;
}
#reset{
    position: absolute;
    left : 150px;
}
#cancel{
    position: absolute;
    left  : 1100px;
    top:780px;
    background-color: red;
    color: white;
    border-radius: 4px;
}
#proceed{
    position: absolute;
    left : 1200px;
    top:780px;
    background-color: green;
    color: white;
    border-radius: 4px;
}