.summarypage{
    position: relative;
    width: 800px;
    height: 600px;
    margin-left: 400px;
    margin-top: 20px;
    border: 1px solid black;
    border-top: none;
}
#summarycontent{
  
    width: 800px;
    height:35px;
    text-align: left;
    margin-top: 0px !important;
    background-color: cornflowerblue;
}
#summaryform{
   
    display: flex;
    flex-direction: row;
    margin-top:auto;
    height: 60px;
    background-color: azure;
}
#locationdiv{
    
    margin-top: 15px;
    margin-left: 10px;
}
#addressdiv{
    
    margin-top: 15px;
    margin-left: 50px;
}
#phonediv{
  
    margin-top: 15px;
    margin-left: 120px;
}
#summary-table{
 position: absolute;
}
#itemname{
   
    margin-left: 50px;
    width: 500px;
    margin-top: 200px;
    
}
#itemtype{
   
    margin-left: 300px;
   width: 1000px;
   margin-top: 200px;
}
#itemprice{
  
    margin-left: 550px;
    width:800px;
    margin-top: 200px;
   
}
#subtotal{
   position: absolute;
    margin-left: 534px;
}
#pickup-charges{
   position: absolute;
    margin-left: 494px;
    margin-top: 28px;
}
#total{
  position: absolute;
    height:35px;
    width: 800px;
    margin-top:58px ;
    margin-left: 0px;
    background-color: cornflowerblue;
}
#totalcharge{
    position: absolute;
    margin-left: 566px;
    margin-top: 5px;
    color: white;
}
.addressdiv{
    position: relative;
    margin-top: 282px;
   
}
.addressmap{
    position: absolute;
    display: flex;
    gap: 15px;
    width:350px;
    margin-left: 20px;
    margin-top: -3px;
  
}
.address{
    position: absolute;
    padding: 10px;
    width: 200px;
  border-radius: 5px;
}
.addresshome{
   
   
    border: 2px solid black;
    border-radius: 29px;
}
.addressother{
    
    border: 2px solid black;
    border-radius: 29px;
    
}
.addressnew{
    border: 2px solid black;
    border-radius: 29px;
}
#newinput{
    position: absolute;
    
    margin-left: 100px;
    margin-top: -3px;
}
#newsave{
    position: absolute;
   
    margin-left: 282px;
    margin-top: -3px;
}
#addnewbutton{
    position: absolute;
    margin-top: 125px;
    margin-left: 600px;
    background-color:cornflowerblue;
    border-radius: 5px;
    border-color: cornflowerblue;
    color: white;
}
#summaryconfirm{
    position: absolute;
    margin-top: 125px;
    margin-left: 700px;
    background-color:cornflowerblue;
    border-radius: 5px;
    border-color: cornflowerblue;
    color: white;
}